@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
/* font-family: 'Rubik Mono One', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/* font-family: 'Ubuntu', sans-serif; */


*{
	margin: 0;
	padding: 0;
	outline: none;
}

iframe{
	border: none;
	padding: -5px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
}

.menu{
	position: fixed;
	top: 10px;
	right: 10px;
	float: right;
	font-size: 3em;
	color: #34495e;
	z-index: 10;
	color: #ecf0f1;
}

nav{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	text-align: center;
	background-color: #1abc9c;
	color: #ecf0f1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.5s;
	z-index: 9;
	font-family: 'Rubik Mono One', sans-serif;
}

.closed{
	right: -100%;
}

nav a{
	position: relative;
	width: 100%;
	margin: 10px 0;
	padding: 20px 0;
	color: #ecf0f1;
	text-decoration: none;
}

nav a:hover{
	color: #34495e;
}

.next-section{
	position: relative;
	margin: 0 auto;
	border-radius: 100%;
	top: 20px;

	text-shadow: 0 0 30px rgba(0,0,0,0.9);
	animation-name: pulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.next-section i{
	font-size: 5em;
	position: relative;
	color: #ecf0f1;
}

@keyframes pulse{
	0%{
		top: 0px;
	}

	50%{
		top: 15px;
	}

	100%{
		top: 0px;
	}
}


.section{
	padding: 0px 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	height: 100vh;
	margin-bottom: -1px;
}

#home-section{
	font-family: 'Rubik Mono One', sans-serif;
	color: #ecf0f1;
}

#home-section h1{
	padding: 20px 10px;
	text-shadow: 0 0 1px rgba(0,0,0,0.9);
	color: #ecf0f1;
	margin: 20px 0;
	position: relative;
}

#home-section .description{
	width: 55%;
	text-align: left;
	font-family: 'Ubuntu', sans-serif;
	color: #ecf0f1;
	padding: 10px;
	position: relative;
	font-style: italic;
	font-size: 1.2em;
	line-height: 1.3em;
}

.font-first{
	color: #F44336;
}

.font-second{
	color: #27ae60;
}

.font-third{
	color: #f39c12;
}

.font-four{
	color: #2980b9;
}

.font-description-dark{
	color: rgba(52, 73, 94,0.6);
}

.fton-description-light{
	color: rgba(236, 240, 241,0.6);
}

#home-section{
	text-align: center;
}

#home-section h3{
	color: #ecf0f1;
}

#about-section{
	background-image: linear-gradient(to bottom, #8e44ad, #3498db);
	color: #ecf0f1;
	text-align: center;
}

#about-section h1{
	font-family: 'Rubik Mono One', sans-serif;
}

.block{
	padding: 10px;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.3em;
}

.block b{
	text-align: left;
}

#projects-section{
	background-color: #3498db;
	color: #ecf0f1;
	text-align: center;
	font-family: 'Rubik Mono One', sans-serif;
}

#projects-section h2{
	position: relative;
	top: -8%;
}

.carousel-base{
	width: 100%;
	position: relative;
	left: 0;
}

.carousel-animation{
	position: relative;
}

.carousel-base div{
	display: none;
	text-align: center;
}

.carousel-back{
	font-size: 3em;
	position: relative;
	top: 2.3em;
	float: left;
	left: -15px;
	cursor: pointer;
}

.carousel-next{
	font-size: 3em;
	position: relative;
	top: 2.3em;
	float: right;
	left: 15px;
	cursor: pointer;
}

.carousel-enabled{
	display: block !important;
}

.carousel-center-to-left{
	animation-name: carousel-center-to-left;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes carousel-center-to-left{
	to {
		left: 0;
		opacity: 1;
	}

	from{
		left: -50%;
		opacity: 0;
	}
}

.carousel-left-to-center{
	animation-name: carousel-left-to-center;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes carousel-left-to-center{
	to {
		left: 50%;
		opacity: 0;
	}

	from{
		left: 0%;
		opacity: 1;
	}
}

.carousel-center-to-right{
	animation-name: carousel-center-to-right;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes carousel-center-to-right{
	to {
		left: 0;
		opacity: 1;
	}

	from{
		left: 50%;
		opacity: 0;
	}
}

.carousel-right-to-center{
	animation-name: carousel-right-to-center;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes carousel-right-to-center{
	to {
		left: 50%;
		opacity: 0;
	}

	from{
		left: 0%;
		opacity: 1;
	}
}

.screen-picture{
	width: 80%;
	margin-bottom: 20px;
	position: relative;
	left: 0;
}

#contact-section{
	background-image: linear-gradient(to bottom, #3498db, #2ecc71); 
	color: #ecf0f1;
	text-align: center;
}

#contact-section h2{
	font-family: 'Rubik Mono One', sans-serif;
	position: relative;
	top: -15%;
}

#contact-section a{
	color: #ecf0f1;
}