<div class="column is-4">
    <div class="block homeblock">

    <h1>Blog | Leo Frederiche</h1>
    <br>
    
    <h6>Bem Vindo!</h6>
    <p>
        Este espaço reservei para compartilhar algumas experências e aprendizados
        que tive ao longo da minha carreira como Desenvolvedor.         
    </p>

    <h6>O que tem aqui</h6>
    <p>
        Você pode acessar meus <a href="/posts">Posts</a> e ver o que eu tenho 
        publicado nos ultimos dias, ou então acessar meu 
        <a href="https://leofrederiche.github.io">portifólio</a> para conhecer um 
        pouco mais sobre a minha história.
    </p>

    <h6>Projetos</h6>

    <p>
        Estou preparando um ambiente para poder te mostrar alguns pequenos projetos
        que tenho feito para aprendizem, diversão ou estudo.
    </p>

    <p>
        Até lá você pode acessar meu <a href="https://github.com/leofrederiche">github</a>
        e dar uma olhada no que já tem por lá.
    </p>

    
    </div>
</div>